@use 'config/variables' as variable

html
  font-size: calc(100vw / 375 * 10)
  @media ( variable.$screen-sm )
    font-size: calc(100vw / 1440 * 10)

body
  font-family: 'IosevkaFixedSS12-Extended', monospace
  font-size: 1.4rem
  font-weight: 400
  line-height: 1.5
  background: variable.$neutral-1
  color: variable.$neutral-2
  @media ( variable.$screen-sm )
    font-size: 1.6rem

.page
  padding: 5rem 0
  @media ( variable.$screen-sm )
    padding: 10rem 0

.section
  padding: 5rem 0
  @media ( variable.$screen-sm )
    padding: 5rem 0

.container
  width: 100%
  margin: 0 auto
  padding: 0 1.5rem
  &--sm
    max-width: 70rem
  &--md
    max-width: 74rem

.snippet
  &__content
    &-sm
      margin-top: 1rem
    &-md
      margin-top: 2rem

.title
  font-weight: 700
  &--h1
    font-size: 3.5rem
  &--h2
    font-size: 2rem

.text
  &-uppercase
    text-transform: uppercase
  &-light
    color: variable.$neutral-4
  &-white
    color: variable.$white
  &-gold
    color: variable.$primary-1

.buttons
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: center
  gap: 2rem

.circle-button
  width: 3rem
  height: 3rem
  display: inline-flex
  align-items: center
  justify-content: center
  border-radius: 100%
  background: rgba(variable.$neutral-2, .05)
  &__icon
    width: 50%
    fill: variable.$neutral-2

.inline-button
  display: inline-flex
  align-items: center
  gap: 1rem
  &:hover
    text-decoration: underline
  &__icon
    height: 1em
    fill: variable.$neutral-2

.grid
  display: grid
  &--cols-three
    grid-template-columns: repeat(3, 1fr)
  &--gap-sm
    gap: 1rem
  &--gap-lg
    gap: 5rem

.flex
  display: flex
  &--cols
    flex-direction: column
  &--rows
    flex-direction: row
  &--wrap
    flex-wrap: wrap
  &--gap-sm
    gap: 1rem
  &--gap-lg
    gap: 5rem

.card
  border-radius: 1rem
  transition: .5s
  &:hover
    @media ( variable.$screen-sm )
      background: rgba(variable.$neutral-2, .05)

.experience-card
  padding: 0
  display: grid
  gap: 2rem
  @media ( variable.$screen-sm )
    padding: 2rem
    grid-template-columns: 1fr 2.5fr

.project-card
  padding: 0
  display: grid
  gap: 2rem
  @media ( variable.$screen-sm )
    padding: 2rem
    grid-template-columns: 1fr 1.1fr
  &__image
    width: 100%
    aspect-ratio: 1 / 1
    background: rgba(variable.$neutral-2, .05)
    object-fit: cover
  &__placeholder
    width: 100%
    aspect-ratio: 1 / 1
    background: rgba(variable.$neutral-2, .05)
    display: flex
    align-items: center
    justify-content: center
    text-align: center
    font-size: 1.2rem
    font-weight: 700

.badge
  display: inline-block
  padding: .8rem 1.2rem
  border-radius: 1rem
  background: rgba(variable.$neutral-2, .05)
  font-size: 1rem
  font-weight: 700
  @media ( variable.$screen-sm )
    padding: .8rem 1.6rem